.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
    height: 50%;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
.subscribe-bg{
    background-color: #fceae8;
    border-radius: 1em;
}
.button-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 9px 25px;
}